<div class="container">
    <label class="form-label">Nombre: {{name}}</label>
    <hr>
    <label class="form-label">Apellido: {{last_name}}</label>
    <hr>  
    <label class="form-label">Email: {{email}}</label>
    <hr>
    <label class="form-label">Rol: {{rol}}</label>
    <hr>
    <label class="form-label">Token: {{token}}</label>
</div>