<div>
    <h1>Productos agregados:</h1>
    {{#each products}}
     <div>
        <p>Title: {{this.title}}</p>
        <p>Description: {{this.description}}</p>
        <p>Price: {{this.price}}</p>
        <p>Image: {{this.thumbnail}}</p>
        <p>Code: {{this.code}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>ID: {{this.id}}</p>
        <p>Status: {{this.status}}</p>
        <br>
     </div>
    {{/each}}
</div>