<div>
    <div>
        <h1>Agregar producto</h1>
        <form action="/api/products/" method="post">
            <label>Title</label>
            <input name="title" id="title">
            <label>Description</label>
            <input name="description" id="description">
            <label>Price</label>
            <input name="price" id="price">
            <label>Image</label>
            <input name="thumbnail" id="thumbnail">
            <label>Code</label>
            <input name="code" id="code">
            <label>Stock</label>
            <input name="stock" id="stock">
            <button name="buttomProd" id="buttomProd">Enviar</button>
        </form>
    </div>
    <div>
        <h1>Productos agregados:</h1>
        {{#each products}}
        <div>
            <p>Title: {{this.title}}</p>
            <p>Description: {{this.description}}</p>
            <p>Price: {{this.price}}</p>
            <p>Image: {{this.thumbnail}}</p>
            <p>Code: {{this.code}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>ID: {{this.id}}</p>
            <p>Status: {{this.status}}</p>
            <br>
        </div>
        {{/each}}
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/js/index.js"></script>