<div>
    <div>
        <h1>Bienvenido</h1>
        <h3>{{user.name}}</h3>
        <label>Rol: </label>
        {{#if user.admin}}
            <label>Admin</label>
        {{else}}
            <label>user</label>
        {{/if}}
    </div>

    </br>

    <p>Productos</p>
    <div>
        {{#each products}}
            <p>Producto: {{this.title}}  |||  Precio: {{this.price}}  |||  Descripcion:{{this.description}}</p>
            <button>Agregar al carrito</button>
        {{/each}}
    </div>
    <br>
    <div>
        {{#if hasPrevPage}}
            <a href="/product?page={{prevPage}}"><button>Anterior</button></a>
        {{/if}}
        <label>{{this.page}}</label>
        {{#if hasNextPage}}
            <a href="/product?page={{nextPage}}"><button>Siguiente</button></a>
        {{/if}}
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/virtual/js/views-products.js"></script>